<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="BoL.css">
    <title>Title</title>
</head>
<body>

<div class="bol-sheet">
    <!-- Header -->
    <div id="bol-name-label" class="im-fell-english-sc-regular">Name</div>
    <div id="bol-name-value" class="cinzel-decorative-regular">Name</div>
    <div id="bol-origin-label" class="im-fell-english-sc-regular">Origin</div>
    <div id="bol-origin-value" class="cinzel-decorative-regular">Origin</div>
    <div id="bol-languages-label" class="im-fell-english-sc-regular">Languages</div>
    <div id="bol-languages-value" class="cinzel-decorative-regular">Languages</div>

    <!-- Onlu Labels -->
    <div id="bol-attributes-label" class="im-fell-english-sc-regular">Attributes</div>
    <div id="bol-careers-label" class="im-fell-english-sc-regular">Careers</div>

    <!-- Combat section -->
    <div id="bol-combat-abilities-label" class="im-fell-english-sc-regular">Combat Abilities</div>
    <div id="bol-initiative-label" class="im-fell-english-sc-regular">Initiative</div>
    <div id="bol-melee-label" class="im-fell-english-sc-regular">Melee</div>
    <div id="bol-ranged-label" class="im-fell-english-sc-regular">Ranged</div>
    <div id="bol-defence-label" class="im-fell-english-sc-regular">Defence</div>



    <!-- Weapons section-->
    <div id="bol-weapons-label" class="im-fell-english-sc-regular">Weapons</div>
    <div id="bol-damages-label" class="im-fell-english-sc-regular">Damages</div>



    <!-- Circle -->
    <div id="bol-faith-label" class="im-fell-english-sc-regular arc-text">fate</div>
    <div id="bol-power-label" class="im-fell-english-sc-regular arc-text">power</div>
    <div id="bol-hero-label" class="im-fell-english-sc-regular arc-text">hero</div>
    <div id="bol-lifeblood-label" class="im-fell-english-sc-regular">lifeblood</div>

</div>

<script src="BoL.js"></script>
</body>
</html>