@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=IM+Fell+English+SC&display=swap');

/*      fonts           */
.im-fell-english-sc-regular {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}


.bol-sheet {
    position: relative;
    width: 100%;
    aspect-ratio: 1500 / 1060;
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/fond.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* header */
#bol-name-label {
    position: absolute;
    bottom: 91.69%;   /* (972 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 2.17vw;
    color: black;
}

#bol-name-value {
    position: absolute;
    bottom: 91.69%;   /* (972 / 1060) × 100 */
    left: 35%;
    font-size: 1.63vw;
    color: black;
}

#bol-origin-label {
    position: absolute;
    bottom: 87.55%;   /* (928 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 1.3vw;
    color: black;
}

#bol-origin-value {
    position: absolute;
    bottom: 87.55%;   /* (928 / 1060) × 100 */
    left: 35%;
    font-size: 0.97vw;
    color: black;
}

#bol-languages-label {
    position: absolute;
    bottom: 83.02%;   /* (880 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 1.3vw;
    color: black;
}

#bol-languages-value {
    position: absolute;
    bottom: 83.02%;   /* (880 / 1060) × 100 */
    left: 35%;
    font-size: 0.97vw;
    color: black;
}

#bol-xp-label {
    position: absolute;
    bottom: 86%;   /* (880 / 1060) × 100 */
    left: 77%;       /* (1025 / 1500) * 100 */
    font-size: 2vw;
    color: black;
}

/* Attributes */

#bol-attributes-label {
    position: absolute;
    bottom: 74%;
    left: 30%;
    font-size: 2.5vw;
    color: white;
}

.bol-attr-bloc {
    font-size:  1.8vw;
    width: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:  flex-start;
    gap: 0;
}

.bol-attr-label {
    font-size: 1.7vw;
}

.bol-attr-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vw;
    width: 8vw;
}

.bol-attr-value {
    font-size: 2.2vw;
    position: absolute;
    left: 40%;
    top: 20%;
}

#bol-attr-strength {
    position: absolute;
    bottom: 60.5%;
    left: 9%;
}

#bol-attr-strength-img {
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeVigueur.svg');
}

#bol-attr-agility {
    position: absolute;
    bottom: 60.5%;
    left: 21%;
}

#bol-attr-agility-img {
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeAgilite.svg');
}

#bol-attr-mind {
    position: absolute;
    bottom: 60.5%;
    left: 33%;
}

#bol-attr-mind-img {
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeEsprit.svg');
}

#bol-attr-aura {
    position: absolute;
    bottom: 60.5%;
    left: 45%;
}

#bol-attr-aura-img {
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeAura.svg');
}

/* Careers */

#bol-careers-label {
    position: absolute;
    bottom: 52.5%;
    left: 22%;
    font-size: 2.5vw;
    color: white;
}

#bol-career-1-value {
    position: absolute;
    bottom: 46.7%;
    left: 18.25%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-1-label {
    position: absolute;
    bottom: 46.5%;
    left: 21%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-2-value {
    position: absolute;
    bottom: 40.9%;
    left: 18.25%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-2-label {
    position: absolute;
    bottom: 40.7%;
    left: 21%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-3-value {
    position: absolute;
    bottom: 35.2%;
    left: 18.25%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-3-label {
    position: absolute;
    bottom: 35%;
    left: 21%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-4-value {
    position: absolute;
    bottom: 29.52%;
    left: 18.25%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-4-label {
    position: absolute;
    bottom: 29.32%;
    left: 21%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-5-value {
    position: absolute;
    bottom: 23.8%;
    left: 18.25%;
    font-size: 1.7vw;
    color: black;
}

#bol-career-5-label {
    position: absolute;
    bottom: 23.6%;
    left: 21%;
    font-size: 1.7vw;
    color: black;
}



/* Combat abilities */

#bol-combat-abilities-label {
    position: absolute;
    bottom: 28%;
    left: 2.5%;
    font-size: 1.7vw;
    color: white;
    writing-mode: sideways-lr;
}

#bol-initiative-label {
    position: absolute;
    bottom: 48.5%;
    left: 8%;
    font-size: 1.7vw;
    color: black;
}
#bol-melee-label {
    position: absolute;
    bottom: 35.5%;
    left: 8%;
    font-size: 1.7vw;
    color: black;
}
#bol-ranged-label {
    position: absolute;
    bottom: 23%;
    left: 8%;
    font-size: 1.7vw;
    color: black;
}
#bol-defence-label {
    position: absolute;
    bottom: 11%;
    left: 8%;
    font-size: 1.7vw;
    color: black;
}

/* Weapons */
#bol-weapons-label {
    position: absolute;
    bottom: 74%;
    left: 58%;
    font-size: 2.5vw;
    color: white;
}
#bol-damages-label {
    position: absolute;
    bottom: 74.5%;
    left: 73%;
    font-size: 1.7vw;
    color: white;
}

/* Circle */
#bol-lifeblood-label {
    position: absolute;
    bottom: 23%;
    left: 47.5%;
    font-size: 1.5vw;
    color: white;
}

/* --- TEXTE EN ARC --- */
.arc-text {
    position: absolute;
    width: var(--arc-diameter, 30vw);
    height: var(--arc-diameter, 30vw);
    left: var(--arc-left);
    top: var(--arc-top);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.arc-text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    font-size: 1.5vw;
    color: white;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
}

.arc-text.outward span[data-index],
.arc-text.outward.reverse span[data-index] {
    --angle-step: calc(var(--arc-angle, 90deg) / (var(--char-count) - 1));
    transform:
            rotate(calc((var(--angle-step) * var(--index)) + var(--angle-start, 0deg)))
            translateY(calc(-0.5 * var(--arc-diameter, 30vw)));
}

.arc-text.inward span[data-index],
.arc-text.inward.reverse span[data-index] {
    --angle-step: calc(var(--arc-angle, 90deg) / (var(--char-count) - 1));
    transform:
            rotate(calc((var(--angle-step) * var(--index)) + var(--angle-start, 0deg)))
            translateY(calc(-0.5 * var(--arc-diameter, 30vw)));
}

.arc-text.reverse span[data-index] {
    --index: calc(var(--char-count) - 1 - var(--index));
}

/* boons */

#bol-boons-label {
    position: absolute;
    bottom: 16%;
    left: 30%;
    font-size: 2.5vw;
    color: white;
}

/* flaws */
#bol-flaws-label {
    position: absolute;
    bottom: 16%;
    left: 70%;
    font-size: 2.5vw;
    color: white;
}

/* equipment */
#bol-equipment-label {
    position: absolute;
    bottom: 47.5%;
    left: 65%;
    font-size: 2.5vw;
    color: white;
}