@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.barbarian {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
}


.bol-sheet {
    position: relative;
    width: 100%;
    aspect-ratio: 1500 / 1060;
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/fond.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#bol-name {
    position: absolute;
    bottom: 91.69%;   /* (972 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 2.17vw; /* ou mieux : via clamp() pour contrôle */
}

#bol-origin {
    position: absolute;
    bottom: 87.55%;   /* (928 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 1.3vw; /* ou mieux : via clamp() pour contrôle */
}

#bol-languages {
    position: absolute;
    bottom: 83.02%;   /* (880 / 1060) × 100 */
    right: 68.33%;       /* (1025 / 1500) * 100 */
    font-size: 1.3vw; /* ou mieux : via clamp() pour contrôle */
}
