@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Nothing+You+Could+Do&display=swap');

:root {
    --sidebar-width: 484px;
    --sheet-width: calc(100vw - var(--sidebar-width));
    --font-size-name: 2.4vw;
    --font-size-origin-languages-combat-attributes-label: 1.4vw;
    --font-size-xp-sections-labels: 2vw;
    --font-size-origin-languages-values: 1.6vw;
    --font-size-default-values: 2vw;
    --font-size-attributes-labels: 2vw;
    --font-size-attribute-values: 2.7vw;
    --font-size-sections-value: 1.5vw;
    --font-size-damages-arc-label: 1.5vw;
    --attribute-img-width-heigth: 9vw;
    --arc-diameter: 20vw;
    --centre-circle-left: 44.75%;
    --centre-circle-top: 58.45%;
}

#container-principal {
    display: flex;
    flex-direction: row;
}

#grosse-marge {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background-color: red;
}


/*      fonts           */
.im-fell-english-sc-regular {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
}


.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

.bol-sheet {
    position: relative;
    width: 100%;
    aspect-ratio: 1500 / 1060;
    background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/fond.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* header */
#bol-name-label,#bol-origin-label,#bol-languages-label {
    position: absolute;
    right: 68.33%;
    color: black;
}

#bol-name-label {
    bottom: 91.69%;
    font-size: var(--font-size-name);
}

#bol-origin-label,#bol-languages-label {
    font-size: var(--font-size-origin-languages-combat-attributes-label);
}

#bol-origin-label {
    bottom: 87.55%;
}

#bol-languages-label {
    bottom: 83.02%;
}

#bol-name-value,#bol-origin-value,#bol-languages-value {
    position: absolute;
    left: 35%;
    color: black;
}

#bol-name-value {
    bottom: 91.69%;
    font-size: var(--font-size-default-values);
}

#bol-origin-value,#bol-languages-value {
    font-size: var(--font-size-origin-languages-values);
}

#bol-origin-value {
    bottom: 87.55%;
}

#bol-languages-value {
    bottom: 83.02%;
}

#bol-xp-label {
    position: absolute;
    bottom: 86%;
    left: 76.5%;
    font-size: var(--font-size-xp-sections-labels);
    color: black;
}

#bol-xp-value {
    position: absolute;
    bottom: 79%;
    left: 76.75%;
    font-size: var(--font-size-xp-sections-labels);
    color: black;
}

/* Attributes */

#bol-attributes-label {
    position: absolute;
    bottom: 74%;
    left: 27%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}

#bol-attr-strength,#bol-attr-agility,#bol-attr-mind,#bol-attr-appeal {
    position: absolute;
    font-size:  var(--font-size-attributes-labels);
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:  flex-start;
    gap: 0;
    bottom: 58.7%;

    .bol-attr-label {
        font-size: var(--font-size-default-values);
    }

    .bol-attr-img {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: var(--attribute-img-width-heigth);
        width: var(--attribute-img-width-heigth);
    }

    .bol-attr-value {
        font-size: var(--font-size-attribute-values);
        position: absolute;
        left: 40%;
        top: 15%;
    }
}

#bol-attr-strength {
    left: 9%;
    #bol-attr-strength-img {
        background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeVigueur.svg');
    }
}

#bol-attr-agility {
    left: 21%;
    #bol-attr-agility-img {
        background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeAgilite.svg');
    }
}

#bol-attr-mind {
    left: 33%;
    #bol-attr-mind-img {
        background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeEsprit.svg');
    }
}

#bol-attr-appeal {
    left: 45%;
    #bol-attr-appeal-img {
        background-image: url('https://raw.githubusercontent.com/Ajrarn/KankaTemplates/main/templates/characterSheets/barbariansOfLemuria/globeAura.svg');
    }
}

/* Careers */

#bol-careers-label {
    position: absolute;
    bottom: 52.5%;
    left: 22%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}

#bol-career-1-value,#bol-career-2-value,#bol-career-3-value,#bol-career-4-value,#bol-career-5-value {
    position: absolute;
    left: 18.25%;
    font-size: var(--font-size-default-values);
    color: black;
}

#bol-career-1-label,#bol-career-2-label,#bol-career-3-label,#bol-career-4-label,#bol-career-5-label {
    position: absolute;
    left: 21%;
    font-size: var(--font-size-default-values);
    color: black;
}

#bol-career-1-value {
    bottom: 46.2%;
}

#bol-career-1-label {
    bottom: 46%;
}

#bol-career-2-value {
    bottom: 40.4%;
}

#bol-career-2-label {
    bottom: 40.2%;
}

#bol-career-3-value {
    bottom: 34.7%;
}

#bol-career-3-label {
    bottom: 34.5%;
}

#bol-career-4-value {
    bottom: 29.02%;
}

#bol-career-4-label {
    bottom: 28.82%;
}

#bol-career-5-value {
    bottom: 23.3%;
}

#bol-career-5-label {
    bottom: 23.1%;
}



/* Combat abilities */

#bol-combat-abilities-label {
    position: absolute;
    bottom: 28%;
    left: 2.1%;
    font-size: var(--font-size-default-values);
    color: white;
    writing-mode: sideways-lr;
}

#bol-initiative-label,#bol-melee-label,#bol-ranged-label,#bol-defence-label {
    position: absolute;
    left: 8%;
    font-size: var(--font-size-origin-languages-combat-attributes-label);
    color: black;
}

#bol-initiative-label {
    bottom: 48.5%;
}

#bol-melee-label {
    bottom: 35.5%;
}
#bol-ranged-label {
    bottom: 23%;
}
#bol-defence-label {
    bottom: 11%;
}

#bol-initiative-value,#bol-melee-value,#bol-ranged-value,#bol-defence-value {
    position: absolute;
    left: 7%;
    font-size: var(--font-size-attribute-values);
    color: black;
}

#bol-initiative-value {
    bottom: 52.5%;
}

#bol-melee-value {
    bottom: 39.3%;
}

#bol-ranged-value {
    bottom: 27%;
}

#bol-defence-value {
    bottom: 15%;
}

/* Weapons */
#bol-weapons-label {
    position: absolute;
    bottom: 74%;
    left: 58%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}
#bol-damages-label {
    position: absolute;
    bottom: 74.5%;
    left: 72%;
    font-size: var(--font-size-damages-arc-label);
    color: white;
}
#bol-weapons-value {
    position: absolute;
    bottom: 51%;
    left: 57%;
    font-size: var(--font-size-sections-value);
    color: black;
    margin: 1%;
    width: 21.7%;
    height: 21%;
    p {
        margin: 1%;
    }
}

/* Circle */
#bol-lifeblood-label {
    position: absolute;
    bottom: 22.5%;
    left: 47.5%;
    font-size: var(--font-size-damages-arc-label);
    color: white;
}

/* --- TEXTE EN ARC --- */
.arc-text {
    position: absolute;
    width: var(--arc-diameter, 30vw);
    height: var(--arc-diameter, 30vw);
    left: var(--centre-circle-left);
    top: var( --centre-circle-top);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.arc-text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    font-size: var(--font-size-damages-arc-label);
    color: white;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
}

.arc-text.outward span[data-index],
.arc-text.outward.reverse span[data-index] {
    --angle-step: calc(var(--arc-angle, 90deg) / (var(--char-count) - 1));
    transform:
            rotate(calc((var(--angle-step) * var(--index)) + var(--angle-start, 0deg)))
            translateY(calc(-0.5 * var(--arc-diameter, 30vw)));
}

.arc-text.inward span[data-index],
.arc-text.inward.reverse span[data-index] {
    --angle-step: calc(var(--arc-angle, 90deg) / (var(--char-count) - 1));
    transform:
            rotate(calc((var(--angle-step) * var(--index)) + var(--angle-start, 0deg)))
            translateY(calc(-0.5 * var(--arc-diameter, 30vw)));
}

.arc-text.reverse span[data-index] {
    --index: calc(var(--char-count) - 1 - var(--index));
}

#bol-faith-value {
    position: absolute;
    bottom: 31.5%;
    left: 38.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-faith-max-value {
    position: absolute;
    bottom: 36%;
    left: 42.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-power-value {
    position: absolute;
    bottom: 45.5%;
    left: 38.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-power-max-value {
    position: absolute;
    bottom: 41.5%;
    left: 42.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-hero-value {
    position: absolute;
    bottom: 45.5%;
    left: 50%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-hero-max-value {
    position: absolute;
    bottom: 41.5%;
    left: 46.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-lifeblood-value {
    position: absolute;
    bottom: 31.5%;
    left: 50%;
    font-size: var(--font-size-default-values);
    color: black;
}
#bol-lifeblood-max-value {
    position: absolute;
    bottom: 36%;
    left: 46.5%;
    font-size: var(--font-size-default-values);
    color: black;
}
/* boons */

#bol-boons-label {
    position: absolute;
    bottom: 16%;
    left: 30%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}

#bol-boons-value {
    position: absolute;
    bottom: 1.5%;
    left: 22%;
    font-size: var(--font-size-sections-value);
    color: black;
    margin: 1%;
    width: 34.4%;
    height: 13.4%;
    p {
        margin: 1%;
    }
}

/* flaws */
#bol-flaws-label {
    position: absolute;
    bottom: 16%;
    left: 70%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}
#bol-flaws-value {
    position: absolute;
    bottom: 1.5%;
    left: 57%;
    font-size: var(--font-size-sections-value);
    color: black;
    margin: 1%;
    width: 39%;
    height: 13.4%;
    p {
        margin: 1%;
    }
}

/* equipment */
#bol-equipment-label {
    position: absolute;
    bottom: 47.5%;
    left: 65%;
    font-size: var(--font-size-xp-sections-labels);
    color: white;
}
#bol-equipment-value {
    position: absolute;
    bottom: 22%;
    left: 57%;
    font-size: var(--font-size-sections-value);
    color: black;
    margin: 1%;
    width: 39%;
    height: 23.5%;
    p {
        margin: 1%;
    }
}