<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="BoL.css">
    <title>Title</title>
</head>
<body>

<div class="bol-sheet">
    <!-- Header -->
    <div id="bol-name-label" class="im-fell-english-sc-regular">Name</div>
    <div id="bol-name-value" class="cinzel-decorative-regular">Name</div>
    <div id="bol-origin-label" class="im-fell-english-sc-regular">Origin</div>
    <div id="bol-origin-value" class="cinzel-decorative-regular">Origin</div>
    <div id="bol-languages-label" class="im-fell-english-sc-regular">Languages</div>
    <div id="bol-languages-value" class="cinzel-decorative-regular">Languages</div>

    <div id="bol-xp-label" class="im-fell-english-sc-regular">XP</div>

    <!-- Attributes -->
    <div id="bol-attributes-label" class="im-fell-english-sc-regular">Attributes</div>
    <div id="bol-attr-strength" class="bol-attr-bloc">
        <div id="bol-attr-strength-img" class="bol-attr-img"></div>
        <div class="im-fell-english-sc-regular bol-attr-label">Strength</div>
        <div class="cinzel-decorative-regular bol-attr-value">4</div>
    </div>
    <div id="bol-attr-agility" class="bol-attr-bloc">
        <div id="bol-attr-agility-img" class="bol-attr-img"></div>
        <div class="im-fell-english-sc-regular bol-attr-label">Agility</div>
        <div class="cinzel-decorative-regular bol-attr-value">-1</div>
    </div>
    <div id="bol-attr-mind" class="bol-attr-bloc">
        <div id="bol-attr-mind-img" class="bol-attr-img"></div>
        <div class="im-fell-english-sc-regular bol-attr-label">Mind</div>
        <div class="cinzel-decorative-regular bol-attr-value">0</div>
    </div>
    <div id="bol-attr-aura" class="bol-attr-bloc">
        <div id="bol-attr-aura-img" class="bol-attr-img"></div>
        <div class="im-fell-english-sc-regular bol-attr-label">Aura</div>
        <div class="cinzel-decorative-regular bol-attr-value">2</div>
    </div>

    <!-- Careers -->
    <div id="bol-careers-label" class="im-fell-english-sc-regular">Careers</div>
    <div id="bol-career-1-label" class="cinzel-decorative-regular">Sailor</div>
    <div id="bol-career-1-value" class="cinzel-decorative-regular">-1</div>
    <div id="bol-career-2-label" class="cinzel-decorative-regular">Warrior</div>
    <div id="bol-career-2-value" class="cinzel-decorative-regular">0</div>
    <div id="bol-career-3-label" class="cinzel-decorative-regular">Slave</div>
    <div id="bol-career-3-value" class="cinzel-decorative-regular">2</div>
    <div id="bol-career-4-label" class="cinzel-decorative-regular">Noble</div>
    <div id="bol-career-4-value" class="cinzel-decorative-regular">3</div>
    <div id="bol-career-5-label" class="cinzel-decorative-regular">Peasant</div>
    <div id="bol-career-5-value" class="cinzel-decorative-regular">4</div>

    <!-- Combat section -->
    <div id="bol-combat-abilities-label" class="im-fell-english-sc-regular">Combat Abilities</div>
    <div id="bol-initiative-value" class="cinzel-decorative-regular">-1</div>
    <div id="bol-initiative-label" class="im-fell-english-sc-regular">Initiative</div>
    <div id="bol-melee-value" class="cinzel-decorative-regular">2</div>
    <div id="bol-melee-label" class="im-fell-english-sc-regular">Melee</div>
    <div id="bol-ranged-value" class="cinzel-decorative-regular">0</div>
    <div id="bol-ranged-label" class="im-fell-english-sc-regular">Ranged</div>
    <div id="bol-defence-value" class="cinzel-decorative-regular">4</div>
    <div id="bol-defence-label" class="im-fell-english-sc-regular">Defence</div>



    <!-- Weapons section-->
    <div id="bol-weapons-label" class="im-fell-english-sc-regular">Weapons</div>
    <div id="bol-damages-label" class="im-fell-english-sc-regular">Damages</div>
    <div id="bol-weapons-value" class="cinzel-decorative-regular">
        <p>Two-handed sword (d6B)</p>
        <p>Dagger (d6M)</p>
        <p>Long Bow (d6)</p>
    </div>


    <!-- Circle -->
    <div id="bol-faith-label" class="im-fell-english-sc-regular arc-text">fate</div>
    <div id="bol-faith-value" class="cinzel-decorative-regular">10</div>
    <div id="bol-faith-max-value" class="cinzel-decorative-regular">13</div>
    <div id="bol-power-label" class="im-fell-english-sc-regular arc-text">power</div>
    <div id="bol-power-value" class="cinzel-decorative-regular">10</div>
    <div id="bol-power-max-value" class="cinzel-decorative-regular">13</div>
    <div id="bol-hero-label" class="im-fell-english-sc-regular arc-text">hero</div>
    <div id="bol-hero-value" class="cinzel-decorative-regular">10</div>
    <div id="bol-hero-max-value" class="cinzel-decorative-regular">13</div>
    <div id="bol-lifeblood-label" class="im-fell-english-sc-regular">lifeblood</div>
    <div id="bol-lifeblood-value" class="cinzel-decorative-regular">10</div>
    <div id="bol-lifeblood-max-value" class="cinzel-decorative-regular">13</div>

    <!-- Equipment -->
    <div id="bol-equipment-label" class="im-fell-english-sc-regular">Armour & Equipment</div>
    <div id="bol-equipment-value" class="cinzel-decorative-regular">
        <p>Tournevis</p>
        <p>Couteau à beurre</p>
        <p>Armure de cuir</p>
    </div>

    <!-- Boons -->
    <div id="bol-boons-label" class="im-fell-english-sc-regular">Boons</div>
    <div id="bol-boons-value" class="cinzel-decorative-regular">
        <p>Méga-Doué</p>
        <p>Gosse de riche</p>
        <p>Beau-gosse</p>
    </div>

    <!-- Flaws -->
    <div id="bol-flaws-label" class="im-fell-english-sc-regular">Flaws</div>
    <div id="bol-flaws-value" class="cinzel-decorative-regular">
        <p>Accent du sud</p>
        <p>Frimeur</p>
        <p>Moi Je</p>
    </div>


</div>

<script src="BoL.js"></script>
</body>
</html>