<div class="bol-sheet">
  <!-- Labels -->
  <div id="bol-name-label" class="im-fell-english-sc-regular">@i18n("Name")</div>
  <div id="bol-name-value" class="cinzel-decorative-regular">{{ $_entity_name }}</div>
  <div id="bol-origin-label" class="im-fell-english-sc-regular">@i18n("Origin")</div>
  <div id="bol-origin-value" class="cinzel-decorative-regular">Origin</div>
  <div id="bol-languages-label" class="im-fell-english-sc-regular">@i18n("Languages")</div>
  <div id="bol-languages-value" class="cinzel-decorative-regular">Languages</div>
</div>